 @import "tailwindcss";
 /* @plugin "daisyui"; */
/* @import "@nuxt/ui"; */
@plugin "daisyui" {
  themes: false;
}

@theme {
  --color-primary:#1F2923;
  --color-sidebar:hsl(0 0% 98%);
  --color-primary:#17458f;
  --color-secondary:#F7A81B;
  --ui-success:#2E7D32;
}


@layer components {
  .link {
    @apply p-2 !no-underline gap-2 flex  items-center cursor-pointer text-gray-600 font-[400] rounded-md w-full text-sm hover:bg-primary hover:text-gray-300;
  }
  .box {
    @apply rounded-xl border border-slate-200 shadow-xs bg-white text-slate-950  p-6 flex flex-col justify-between gap-3;
  }
  a {
    @apply no-underline;
  }

  li {
    @apply list-none;
  }

  ul, ol {
    @apply list-none;
    margin: 0;
    padding: 0;
  }
  
}