<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Si le fichier ou dossier existe, on le sert
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Sinon, on renvoie vers index.html
  RewriteRule ^ index.html [L]
</IfModule>
